!-------------------------------------------------------------------------------
! Xft settings
!-------------------------------------------------------------------------------

!-------------------------------------------------------------------------------
! URxvt settings
!-------------------------------------------------------------------------------

URxvt.depth:                32
URxvt.geometry:             90x30
URxvt.transparent:          true
URxvt.shading:		    20
URXvt.opacity:		    20	
URxvt.fading:               20
URxvt.blurRadius:           5

! URxvt.urgentOnBell:         true
! URxvt.visualBell:           true
URxvt.loginShell:           true
URxvt.internalBorder:       3
URxvt.lineSpace:            0

! Fonts
URxvt.allow_bold:           true
/* URxvt.font:                 -*-terminus-medium-r-normal-*-12-120-72-72-c-60-iso8859-1 */
URxvt*font: xft:Monospace:pixelsize=14
URxvt*boldFont: xft:Monospace:pixelsize=14

! Fix font space
URxvt*letterSpace: -1

! Scrollbar
URxvt.scrollStyle:          rxvt
URxvt.scrollBar:            false
URxvt.scrollWithBuffer:	    true
URxvt.saveLines:	    100000
   
! Perl extens ions
URxvt.perl-ext-common:      default,matcher
URxvt.matcher.button:       1
URxvt.urlLauncher:          chromium

! Cursor
URxvt.cursorBlink:          true
URxvt.cursorColor:          #d70a53
URxvt.cursorUnderline:      false

! Pointer
URxvt.pointerBlank:         true

URxvt*background:   #212121
URxvt*foreground:   #03A9F4
URxvt*cursorColor:   #e4e4e4
URxvt*color0:   #000
URxvt*color1:   #fb4245
URxvt*color2:   #50fa7b
URxvt*color3:   #f0fa8b
URxvt*color4:   #673AB7
URxvt*color5:   #fb4cb3
URxvt*color6:   #8be9fd
URxvt*color7:   #ededec
URxvt*color8:   #555555
URxvt*color9:   #fb4245
URxvt*color10:   #50fa7b
URxvt*color11:   #f0fa8b
URxvt*color12:   #49b9fe
URxvt*color13:   #F44336
URxvt*color14:   #00C853
URxvt*color15:   #ededec
